
<section class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="sub-heading">Happy</h4>
                <h1 class="heading pink"><span class="pink">Client's</span> hello <br>testimonials</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Swiper -->
                <div class="swiper-container testimonial-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide testimonial-box yellow">
                            <h1>Pixel Perfect design</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
                            <div class="text-right">
                                <p class="name">- John Doe</p>
                                <p class="designation">Founder, Arrow</p>
                            </div>
                        </div>
                        <div class="swiper-slide testimonial-box purple">
                            <h1>Minimal and Clean</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
                            <div class="text-right">
                                <p class="name">- Rocky Hych</p>
                                <p class="designation">CTO, Upside Down</p>
                            </div>
                        </div>
                        <div class="swiper-slide testimonial-box blue">
                            <h1>Built with Bootstrap</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
                            <div class="text-right">
                                <p class="name">- John Doe</p>
                                <p class="designation">Founder, Arrow</p>
                            </div>
                        </div>
                        <div class="swiper-slide testimonial-box pink">
                            <h1>Responsive template</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
                            <div class="text-right">
                                <p class="name">- Rocky Hych</p>
                                <p class="designation">CTO, Upside Down</p>
                            </div>
                        </div>
                        <div class="swiper-slide testimonial-box yellow">
                            <h1>Pixel Perfect</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
                            <div class="text-right">
                                <p class="name">- John Doe</p>
                                <p class="designation">Founder, Arrow</p>
                            </div>
                        </div>
                        <div class="swiper-slide testimonial-box purple">
                            <h1>Minimal and Clean</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
                            <div class="text-right">
                                <p class="name">- Rocky Hych</p>
                                <p class="designation">CTO, Upside Down</p>
                            </div>
                        </div>
                        <div class="swiper-slide testimonial-box blue">
                            <h1>Pixel Perfect</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
                            <div class="text-right">
                                <p class="name">- John Doe</p>
                                <p class="designation">Founder, Arrow</p>
                            </div>
                        </div>
                        <div class="swiper-slide testimonial-box pink">
                            <h1>Minimal and Clean</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
                            <div class="text-right">
                                <p class="name">- Rocky Hych</p>
                                <p class="designation">CTO, Upside Down</p>
                            </div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>