
<section class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               
                <h1 class="heading pink">Kullandığım Teknolojiler</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Swiper -->
                <div class="swiper-container testimonial-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide testimonial-box yellow">
                            <h1>Web Geliştirme</h1>
                            <p>
                                
                                • Asp.Net Core MVC, Asp.Net Core WebAPI
                                • HTML5, CSS, JavaScript
                            </p>
                       
                        </div>
                        <div class="swiper-slide testimonial-box purple">
                            <h1>Nesne Yönelimli Programlama (OOP):</h1>
                            <p>
                                
                                • C# OOP Fundamental & Advanced
                                • SOLID Prensipleri
                            </p>
                           
                        </div>
                        <div class="swiper-slide testimonial-box blue">
                            <h1>Veritabanı ve ORM:</h1>
                            <p>
                                
                                • Database: SQL Server(T-SQL)
                                • ORM: EntityFramework Core
                            </p>
                           
                        </div>
                        <div class="swiper-slide testimonial-box pink">
                            <h1>Veri Depolama ve İşleme:</h1>
                            <p>
                                
                                • Caching: Redis
                                • Message Broker: RabbitMQ
                                • Search Engine: ElasticSearch
                            </p>
                            
                        </div>
                        <div class="swiper-slide testimonial-box yellow">
                            <h1>Konteynerleme ve Dağıtım:</h1>
                            <p>
                                
                                • Git – Azure DevOps
                            </p>
                         
                        </div>
                        <div class="swiper-slide testimonial-box purple">
                            <h1>Yazılım Mimarisi ve Geliştirme Yaklaşımları:</h1>
                            <p>
                                
                                • Monolitik ve Mikro Servis Mimarisi
                                • Katmanlı Yazılım
                                • REST API Geliştirme
                            </p>
                           
                       
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>