@model IEnumerable<MyPortfolıo.DAL.Entites.Experience>

@{
    Layout = null;
}

<section class="case-study">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="heading purple">Yetkinliklerim</h1>
                <!-- Swiper -->
                <div class="swiper-container client-swiper">
                    <div class="swiper-wrapper">
                        @foreach (var experience in Model)
                        {
                            <div class="swiper-slide client-box">
                                <img src="~/One-Page-Portfolio-Template-master/assets/resim (2).png" class="client-logo">
                                <h3 class="text-left title">@experience.Title</h3> <!-- Burada title veritabanından geliyor -->
                                <p class="text-left tag">
                                    @experience.Description <!-- Burada açıklama veritabanından geliyor -->
                                </p>
                            </div>
                        }
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</section>
