
@model MyPortfolıo.DAL.Entites.Experience
@{
    Layout = null;
}

<section class="case-study">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="sub-heading">Exclusively</h4>
                <h1 class="heading purple"><span class="purple">works</span> with <br>Startups and founders</h1>
                <!-- Swiper -->
                <div class="swiper-container client-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide client-box">
                            <img src="~/One-Page-Portfolio-Template-master/assets/logo-1.png" class="client-logo">
                            <h3 class="text-left title">Visual identity for upsidedown</h3>
                            <p class="text-left tag">Branding, UI, Website</p>
                            <p class="text-left"><a href="#">Know More &#8594;</a></p>
                        </div>
                        <div class="swiper-slide client-box">
                            <img src="~/One-Page-Portfolio-Template-master/assets/logo-2.png" class="client-logo">
                            <h3 class="text-left title">User Experience design for the AI</h3>
                            <p class="text-left tag">Branding, UI, Website</p>
                            <p class="text-left"><a href="#">Know More &#8594;</a></p>
                        </div>
                        <div class="swiper-slide client-box">
                            <img src="~/One-Page-Portfolio-Template-master/assets/logo-3.png" class="client-logo">
                            <h3 class="text-left title">Rebranding of the best motion studio</h3>
                            <p class="text-left tag">Branding, UI, Website</p>
                            <p class="text-left"><a href="#">Know More &#8594;</a></p>
                        </div>
                        <div class="swiper-slide client-box">
                            <img src="~/One-Page-Portfolio-Template-master/assets/logo-1.png" class="client-logo">
                            <h3 class="text-left title">Visual identity for upsidedown</h3>
                            <p class="text-left tag">Branding, UI, Website</p>
                            <p class="text-left"><a href="#">Know More &#8594;</a></p>
                        </div>
                        <div class="swiper-slide client-box">
                            <img src="~/One-Page-Portfolio-Template-master/assets/logo-2.png" class="client-logo">
                            <h3 class="text-left title">Visual identity for upsidedown</h3>
                            <p class="text-left tag">Branding, UI, Website</p>
                            <p class="text-left"><a href="#">Know More &#8594;</a></p>
                        </div>
                    </div>

                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</section>