@model MyPortfolıo.DAL.Entites.SocialMedia
@{
    Layout = null;
}
<!-- Footer -->
<footer>
    <div class="container-fluid">
        <div class="row footer">
            <div class="col-md-12 text-center">
                <h1>Maria<br><span>Ferrero</span></h1>
                <ul class="social-links">
                    <li><a href="#"><img src="~/One-Page-Portfolio-Template-master/assets/behance.png"></a></li>
                    <li><a href="#"><img src="~/One-Page-Portfolio-Template-master/assets/dribbble.png"></a></li>
                    <li><a href="#"><img src="~/One-Page-Portfolio-Template-master/assets/twitter.png"></a></li>
                    <li><a href="#"><img src="~/One-Page-Portfolio-Template-master/assets/github.png"></a></li>
                </ul>
            </div>
        </div>
        <div class="row sub-footer">
            <div class="col-md-12 text-center">
                <p>Designed by <a href="#" target="_blank"></a> | Download <a href="http://designerdada.com/free-bootstrap-one-page-portfolio-template/">here</a></p>
            </div>
        </div>
    </div>
</footer>

